<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lazylibs.updater">

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <!-- 定义FileProvider -->
        <provider
            android:name="com.lazylibs.updater.utils.UpdateFileProvider"
            android:authorities="${applicationId}.update.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/updater_file_provider" />
        </provider>
        <service android:name="com.lazylibs.updater.VersionUpdateService" />
    </application>

</manifest>
